<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <%= siteName %>.
        </p>
        <p class="is-size-7">
            <strong>Bulma</strong> by <a href="https://jgthms.com" target="_blank" rel="noopener">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php" target="_blank" rel="noopener">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">CC BY NC SA 4.0</a>.
        </p>
    </div>
    <script src="/js/main.js"></script>
</footer>