<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item nav-title" href="#top">
        <%= siteName %> 
      </a>
  
      <a role="button" id="nav-toggle" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="nav-menu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="#top">
          Home
        </a>
  
        <a class="navbar-item" href="#Projects">
          Projects
        </a>

        <a class="navbar-item" href="#Technologies">
          Technologies
        </a>
      </div>
    </div>
</nav>
<div id="top"></div>