<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head', {
		title: siteName,
		description: 'The porfolio for Matthieu-Jean.',
		canonical: '',
	})-%>
</head>
<body>
    <%- include('./partials/nav')-%>
    <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hero title
            </h1>
            <h2 class="subtitle">
              Hero subtitle
            </h2>
          </div>
        </div>
    </section>
    <%- include('./partials/footer')-%>
</body>

</html>