<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head', {
		title: siteName,
		description: 'The porfolio for Matthieu-Jean.',
		canonical: '',
	})-%>
</head>
<body>
    <%- include('./partials/nav')-%>
    <%- include('./partials/hero', {
		heroTitle: 'Projects',
		heroSubtitle: 'Projects i\'ve worked on.',
	})-%>
    <%- include('./partials/footer')-%>
</body>

</html>