html {
    scroll-behavior: smooth;
}

.nav-title {
    font-weight: 600;
    font-size: 1.3em;
    color: #ff344d;
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
}

.tech-grid {
    grid-template-columns: repeat(auto-fill,minmax(0,128px));
    justify-content: space-evenly;
    grid-gap: 5px;
    display: grid;
}

#top {
    height: 52px;
}

.card-static {
    height: 14em;
}